<nav class="navbar navbar-inverse navbar-fixed-top">
	
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Book Notes</a>
		</div>

		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="/my-books">My Books</a>
				</li>
				<li>
					<a href="/my-books/:currentId">Current Book</a>
				</li>
				<li>
					<a href="/search">Search Books</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/auth/logout">Logout</a>
				</li>
			</ul>
		</div>
	</div>

</nav>

<div class="container">
	<div class="row page-title">
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<img class="img-responsive center-block img-rounded" src="<%= notebook.imageUrl %>">
		</div>

		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<h1><%= notebook.title %></h1>
			<h2>by</h2>
			<h2><%= notebook.author %></h2>			
		</div>

	</div>
</div>

<hr>
	
<div class="container">
		
		<h1>My Notes</h1>
		<h3>Enter and View Reading Notes Here</h3>

		<hr>

		<form action="/my-books/:notebookId" method="POST">
			<div class="form-group">
				<label for="contentHeading">Brief description, Chapter, Page Number . . .</label>
				<input type="text" class="form-control" id="contentHeading" name="contentHeading">
			</div>
			
			<div class="form-group">
				<label for="content">Note</label>
				<textarea class="form-control" rows="8" id="content" name="content"></textarea>
			</div>

			<input type="hidden" name="notebookId" value="<%= notebook.id %>">
			<input type="submit" value="Add Note" class="btn btn-primary">


		</form>
			
		</div>
	</div>
	
</div>

<div class="container">
	<% notes.forEach(function(note) { %>
		<div class="row notebook-entry">
			<h2><%= note.dataValues.heading %></h2>
			<p> <%= note.dataValues.content %></p>
		</div>

	<% }) %>
</div>